[submodule "test/samples/gedcom-samples"]
	path = test/samples/gedcom-samples
	url = https://github.com/findmypast/gedcom-samples.git
[submodule "test/samples/test-files"]
	path = test/samples/test-files
	url = https://github.com/gedcom7code/test-files.git
